---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <!-- 增加mermaid支持 -->
  <script src="{{ "/js/mermaid.min.js" | prepend: site.baseurl }}"></script>
  <article class="post-content">
    {{ content }}
  </article>

  {% include comment.html %}

</div>
<!-- 增加mermaid支持 -->
<script src="{{ "/js/mermaid.min.js" | prepend: site.baseurl }}"></script>
<script>mermaid.initialize({startOnLoad:true});</script>

<!-- 新增评论区 -->
<div id="gitmentContainer" ></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'jqing1968',
    repo: 'jqing1968.github.io',
    oauth: {
        client_id: 'a70a16c29ff69a12e809',
        client_secret: 'e3ac609949640d10e07bf5c75c4e594a67609b1b',
    },
});
gitment.render('gitmentContainer');

var delTip=document.querySelector(".gitment-footer-container")
delTip.parentNode.removeChild(delTip)
</script>
<style>
  .gitment-editor-submit, .gitment-comments-init-btn{
    background: #509ABE;
  }
  .gitment-comments-init-btn:disabled, .gitment-editor-submit:disabled{
    background: #509ABE;
  }
  .gitment-comments-init-btn:disabled, .gitment-editor-submit:disabled:hover{
    background: #509ABE;
  }
  .gitment-editor-submit:hover, .gitment-comments-init-btn:hover{
    background: #607D8B;
  }
</style>